<!doctype html>
<html lang="en">
  <head>
    <title>Email Proxy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .container {
        font-family: 'Arial', sans-serif;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <ul>
        <li>Server is up and running in <%=nodeEnv%> mode since <%=startTime%>.</li>
        <li>Configured tenant: <%=tenant%>.</li>
      </ul>
    </div>
  </body>
</html>
