<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mail Proxy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      Server is up and running in <%=nodeEnv%> mode since <%=startTime%>
    </div>
  </body>
</html>
